* {
  font-family: sans-serif;
  /* font-size: 16px; */
  /* overflow: hidden; */
}
table {
  border-collapse: collapse;
  border: 1px solid #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 160px;
}

#reasons {
  width: 225px;
}

#inputs {
  margin-top: 20px;
  margin-left: 320px;
  padding-top: 20px;
  padding-left: 100px;
  width: 600px;
}

input {
  height: 30px;
  font-size: 14px;
  margin-left: 20px;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
label {
  font-size: 16px;
}

#first_input {
  padding-left: 50px;
  margin-bottom: 20px;
}

#second_input {
  padding-left: 30px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
  border: 1px solid #5553ff;
}

svg {
  vertical-align: middle;
}

button {
  height: 40px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

#validate,
#cancel_button,
#ok_button {
  background-color: #5553ff;
  color: white;
  margin-bottom: 20px;
}
#validate {
  margin-left: 132px;
}

#cancel_button,
#ok_button {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}

#results {
  margin-top: 50px;
  width: 100%;
}

#target {
  display: inline-block;
  margin-left: 35px;
  width: 40%;
}

#error {
  display: inline-block;
  margin-left: 70px;
  width: 50%;
}

h2 {
  padding-left: 150px;
  /* font-size: 30px; */
}

span {
  color: #f39c12;
  width: 100%;
}

#first_error,
#second_error {
  color: #d63131;
  border: 1px solid #d63131;
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
  margin-left: 10px;
  background-color: #f78f8f;
}

#delete_valid {
  margin-left: 150px;
}

#delete_invalid {
  margin-left: 220px;
}

#delete_valid:hover,
#delete_invalid:hover {
  cursor: pointer;
}

#delete_valid_inputs,
#delete_invalid_inputs {
  display: inline-block;
}

#delete_valid_button,
#delete_invalid_button {
  background-color: white;
}

#delete_valid,
#delete_invalid {
  fill: gray;
  width: 22%;
}

#delete_valid:hover,
#delete_invalid:hover {
  fill: black;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* margin: 180px 400px; */
  /* padding-top: 100px; */
  /* padding-left: 370px; */
  margin-left: 450px;
  margin-top: 140px;
  text-align: center;
  width: 30%;
  height: 24%;
  /* margin: auto; */
  left: 0;
  top: 0;
  border: 1px solid black;
  background-color: #fefefe;
  /* background-color: rgb(0,0,0); */
  /* background-color: rgba(0,0,0,0.4); */
}

#modal-content {
  background-color: #fefefe;
  /* padding: 20px 20px; */
  /* padding-left:40px; */
  border: 1px solid #888;
  /* padding-left: 200px; */
  width: 100%;
  /* margin: auto; */
  text-align: center;
  padding-left: 30px;
  padding-top: 40px;
}

.close {
  color: #aaaaaa;
  width: 30px;
  padding-left: 80%;
}

.close:hover {
  cursor: pointer;
  color: #000;
}
