* {
  font-family: sans-serif;
  /* font-size: 16px; */
}
table {
  border-collapse: collapse;
  border: 1px solid #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 160px;
}

#reasons {
  width: 225px;
}

#inputs {
  margin-top: 20px;
  margin-left: 320px;
  padding-top: 20px;
  padding-left: 100px;
  width: 600px;
}

input {
  height: 25px;
  margin-left: 20px;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#first_input {
  padding-left: 50px;
  margin-bottom: 20px;
}

#second_input {
  padding-left: 30px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
  border: 1px solid #5553ff;
}

svg {
  vertical-align: middle;
}

button {
  height: 40px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

#validate {
  margin-left: 132px;
  background-color: #5553ff;
  color: white;
  margin-bottom: 20px;
}

#results {
  margin-top: 50px;
  width: 100%;
}

#target {
  display: inline-block;
  margin-left: 35px;
  width: 40%;
}

#error {
  display: inline-block;
  margin-left: 70px;
  width: 50%;
}

h2 {
  padding-left: 150px;
  /* font-size: 30px; */
}

span {
  color: #f39c12;
  width: 100%;
}

#first_error,
#second_error {
  /* color: #ff003f; */
  color: #d63131;
  border: 1px solid #d63131;
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
  margin-left: 15px;
  background-color: #f78f8f;
}
